<div class="container">
    <div class="row bg-light">
        <h2><i class="fas fa-ad"></i> Ma pub</i></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt aliquam fuga, doloribus, amet at?</p>
    </div>
</div>